
<h1> Demo sur les Observable </h1>

<h2>Table des matières</h2>

<ul>
  <li>Qu'est qu'un Observable?</li>
  <li>Quels types de notifications?</li>
  <li>Comment créer un Observable?</li>
  <li>Comment s'abonner/se désabonner à un observable</li>
  <li>Les Hot/Cold Observables</li>
</ul>

<!-- <app-observable-basic></app-observable-basic> -->
<!-- <app-hot-cold></app-hot-cold> -->
<!-- <app-communication-a></app-communication-a>
<app-communication-b></app-communication-b> -->

<app-ordre2></app-ordre2>